<section id="search-results">
  <div class="container">
    <div class="left fadeIn">
      <div class="search-bar">
        <form action="/venues" id="search" method="GET" class="form">
          <input
            type="text"
            id="search-input"
            name="searchTerm"
            placeholder="Type a sport or click search for all results."
            value="{{searchTerm}}"
          />
          <button class="search-button" id="search-button" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="filters">
        <p class="title">Price Range</p>
        <form
          action="/venues?searchTerm={{searchTerm}}"
          method="GET"
          class="form"
        >
          <input
            type="text"
            name="searchTerm"
            class="hidden"
            value="{{searchTerm}}"
          />
          <input
            id="min"
            type="number"
            name="min"
            placeholder="Min. Price"
            class="cost"
          />
          <input
            id="max"
            type="number"
            name="max"
            placeholder="Max. Price"
            class="cost"
          />

          <p class="title">Rating</p>
          <div class="rating">
            <p>4
              <i class="fas fa-star"></i>
              and above
              <input
                type="radio"
                placeholder="4"
                id="r4"
                name="rating"
                value="4"
              /></p>
            <p>3
              <i class="fas fa-star"></i>
              and above
              <input
                type="radio"
                placeholder="3"
                id="r3"
                name="rating"
                value="3"
              /></p>
            <p>2
              <i class="fas fa-star"></i>
              and above
              <input
                type="radio"
                placeholder="2"
                id="r2"
                name="rating"
                value="2"
              /></p>
            <p>1
              <i class="fas fa-star"></i>
              and above
              <input
                type="radio"
                placeholder="1"
                id="r1"
                name="rating"
                value="1"
              /></p>
          </div>

          <button class="filter-button">Filter</button>
        </form>
      </div>
    </div>
    <div class="right">
      {{#if err}}
        <div class="err">
          {{error}}, please try again.
        </div>
      {{else}}
        <div class="resultCount">Results Found: {{count}}</div>
        <div class="container">
          {{! Loop through the venue data fetched from backend }}
          {{#each venues as |ve|}}
            <div class="venue">
              <img
                class="image"
                alt="{{ve.venueName}}"
                src="../../public/images/{{ve.venueImage}}"
              />
              <div class="padded">
                <h1 class="venue-name">{{ve.venueName}}</h1>
                <div class="details">
                  <h3 class="rating">{{ve.venueRating}}
                    / 5
                    <i class="fas fa-star"></i></h3>
                  <h3 class="cost">US$ {{ve.price}} / Hr</h3>
                </div>
                <p class="address">
                  <span><i class="fas fa-map-pin"></i> </span>
                  {{ve.venueAddress}}</p>
                <div class="timings">
                  <span><i
                      class="fas fa-clock"
                      style="padding-right: 5px"
                    ></i>{{" x"}}</span>
                  Timings:
                  <ul>
                    {{#each ve.venueTimings as |t|}}
                      <li>{{t.timeSlot}}</li>
                    {{/each}}
                  </ul>
                </div>
                {{!-- <div class="timings">
                  Sports:
                  <ul>
                    {{#each ve.sports as |s|}}
                      <li class="bg">{{s}}</li>
                    {{/each}}
                  </ul>
                </div> --}}
                <a href="/venues/{{ve._id}}">
                  <button class="book-now">
                    <p class="bk-text">See Info</p>
                    <i class="fas fa-chevron-right"></i>
                  </button>
                </a>

              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</section>