<section id="venue-page">
  <div class="container">
    <div class="left"><img
        src="../../public/images/{{venue.venueImage}}"
        alt="{{venue.name}}"
        class="img"
      />
      {{#if role}}
        <div class="visible">
          <p>Venue Visible : {{visible}}</p>
          <form
            id="updateVis"
            class="vis"
            method="get"
            action="/venues/{{venue._id}}/visibility"
          >
            <button type="submit" class="btn">Update</button>
          </form>

        </div>
      {{/if}}
    </div>
    <div class="right">
      <div class="row">
        <h1 class="venue-title">{{venue.venueName}}</h1>
        <span class="report"><i
            class="fa fa-flag reportButton"
            id="reportButton"
          ></i>
          <div class="report-container reportDiv" id="reportDiv" hidden>
            <form
              id="reportForm"
              method="post"
              action="/report/{{venue._id}}/venues"
              onsubmit="return validateReport()"
            >
              <div class="input-fields">
                <label for="reportComment" class="label">
                  Problem
                  <textarea
                    class="input"
                    type="text"
                    name="reportComment"
                    placeholder="Describe the problem"
                    required
                  ></textarea>
                </label>
                <label
                  for="reportContentType"
                  class="label"
                  style="margin-top: 10px;"
                >
                  Report Type
                  <select
                    class="input reportType"
                    name="reportContentType"
                    id="reportType"
                    required
                  >
                  </select>
                </label>
                <button
                  type="submit"
                  class="book-btn"
                  style="margin-top: 10px; width:100%"
                >Report</button>
              </div>
            </form>
          </div>
        </span>

      </div>
      <a
        class="map-hyperlink"
        href="https://maps.google.com/?q={{venue.venueAddress}}"
        target="_blank"
      >
        <h2 class="venue-address"><span><i
              class="fas fa-map-pin size-xl"
            ></i></span>
          {{venue.venueAddress}}
        </h2>
      </a>
      <h3 class="venue-rating"><span><i class="fas fa-star size-xl"></i></span>
        {{venue.venueRating}}
        <a
          href="/reviews/venuereviews/{{venue._id}}"
          style="font-size: 18px;"
        >({{reviewCount}}
          review(s))</a>
        <a
          href="/reviews/addreview/{{userId}}/{{venue._id}}"
          class="add-rev hint"
        >Add a review.</a>
      </h3>
      <form
        action="/bookings/book"
        method="post"
        onsubmit="return validate()"
        id="book-form"
      >
        <h3 class="sports">
          <span><i class="fas fa-running"></i></span>
          Select Sport:
          <select class="sports-select" name="sport">
            {{#each venue.sports}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </h3>
        <h3 class="sports"><span><i class="fas fa-calendar-alt"></i></span>
          Date:
          <label>
            <input type="date" name="date" class="date" />
          </label>
        </h3>
        <h3 class="timings">
          <span><i class="fas fa-clock"></i></span>
          Start Timing:
          <select class="timing-select" name="startTime">
            {{#each venue.venueTimings}}
              <option value="{{timeSlot}}">{{timeSlot}}</option>
            {{/each}}
          </select>
          End Timing:
          <select class="timing-select" name="endTime">
            {{#each venue.venueTimings}}
              <option value="{{timeSlot}}">{{timeSlot}}</option>
            {{/each}}
          </select>

        </h3>
        <lable>
          <input name="bookingVenueId" value="{{venue._id}}" hidden />
        </lable>
        <lable>
          <input id="costVal" name="cost" hidden />
        </lable>
        <h3
          id="cost"
          name="cost"
          style="font-weight: normal; margin-bottom: 0px"
        ></h3>
        <button type="submit" class="book-btn">Book Now</button>
      </form>
      <lable>
        <input id="price" name="costPHr" value="{{venue.price}}" hidden />
      </lable>
      <div id="error" hidden>
        <ul id="err-list"></ul>
      </div>
    </div>
  </div>
  <div class="comments">
    <div class="row">
      <h1 class="comment-header">Reviews</h1>
      <a href="/reviews/venuereviews/{{venue._id}}">See all reviews</a>
    </div>
    {{#if reviews}}
      {{#each reviews}}
        <div class="user-review">
          <h2 class="username"><a
              href="/user/profile/{{userId}}"
            >{{username}}</a>
            <span class="date-time">Posted On: {{createdAt1}}</span>
          </h2>
          <p class="reviewText">{{reviewText}}</p>
        </div>
      {{/each}}
    {{else}}
      <p class="no-reviews">Be the first one to leave a review!</p>
    {{/if}}
  </div>
</section>
<script src="/public/js/bookings.js"></script>
<script src="/public/js/report.js"></script>