<section id="venue-page">
  <div class="container">
    <img src="{{venue.img}}" alt="{{venue.name}}" class="img" />
    <h1 class="venue-title">{{venue.venueName}}</h1>
    <a
      class="map-hyperlink"
      href="https://maps.google.com/?q={{venue.venueAddress}}"
      target="_blank"
    >
      <h3 class="venue-address"><span><i
            class="fa fa-map-marker size-xl"
          ></i></span>
        {{venue.venueAddress}}
      </h3>
    </a>
    <h3 class="venue-rating"><span><i class="fa fa-star size-xl"></i></span>
      {{venue.venueRating}}
      ({{reviewCount}}
      review(s))
    </h3>
    <h3 class="timings">
      <span><i class="fa fa-clock-o"></i></span>
      Timing:
      <select class="timing-select">
        {{#each venue.venueTimings}}
          <option value="{{timeSlot}}">{{timeSlot}}</option>
        {{/each}}
      </select>
      <p class="silent">Note: Each slot is for 1 hour only!</p>
    </h3>
    <button class="book-btn" type="submit">Book Now</button>
  </div>
  <div class="comment">
    <h1 class="comment-header">Comments</h1>
  </div>
</section>