<link rel="stylesheet" href="/public/css/comments/createComment.css" />
<div id="createComment-page">
  <div class="createComment-container">
    <h1 id="createCommentTitle">Add Comment</h1>
    {{#if error1}}
    <h3 id="createCommentError1" > {{error1}}</h3>
    {{/if}}
     {{#if error2}}
    <h3 id="createCommentError2" > {{error2}}</h3>
    {{/if}}
    <h3 id="createCommentError" hidden> {{error}}</h3>
    <form action="/comments/{{userId}}/{{reviewId}}/{{venueId}}" name="create" method="post" id="createCommentForm">
      <label class="createCommentLabel">Add a Written Comment
            <textarea name = "commentText" id="commentText" type="text" class="createCommentInput" placeholder="Add your Comment....!" ></textarea>
        </label>
      <label><input
          type="submit"
          id="registerSubmit"
          value="Add Comment"
        /></label>
    </form>
   <a href="/comments/reviewcomments/{{reviewId}}/{{venueId}}" id="open-add-modal" class="btn">
        Back to All Comments</a>
        <a href="/reviews/venuereviews/{{venueId}}" id="open-add-modal" class="btn">
        Back to All Reviews</a>
  </div>
</div>
<script src="/public/js/createComment.js"></script>
